<!DOCTYPE html>
<html lang="en">
<head>
  <title>Add Subject</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%- include layout/header %>
</head>
  <body>  
      
    <div class="container">
      <h3>Add Subject to Student</h3>
      <br>
    <table class="table table-hover">
        <tr>
          <th>First Name : </th>
          <td><%= student.first_name %></td>
        </tr>
        <tr>
          <th>Last Name : </th>
          <td><%= student.last_name %></td>
        </tr>
        <tr>
          <th>Email : </th>
          <td><%= student.email %></td>
        </tr>
        <tr>
          <th>Choose Subject : </th>
          <td>
            <form action="/students/<%= student.id%>/addsubject" method="post">
              <select class="form-control" name="SubjectId">
                <% data_subjects.forEach(subject => { %>
                  
                <option value="<%= subject.id%>"><%= subject.subject_name%></option>
                <%})%>
              </select>
              <br>
              <button type="submit" name="button" class="btn btn-default">Add Subject to Student</button>
            </form>
          </td>
        </tr>
        
    </table>
  </div>
    
  </body>
</html>
